/* Global Styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9fb;
  font-family: Arial, sans-serif;
  background-color: #f9f9fb;
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card Styles */
.card {
  padding: 1em;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* User Profile */
.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user-profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-profile-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.user-profile-email {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #666;
}

.user-profile-note {
  background-color: #fffacd;
  padding: 1rem;
  width: 80%;
  border-radius: 8px;
  text-align: left;
  margin-top: 1rem;
}

/* Pet List */
.pet-list-container {
  margin-top: 2rem;
}

.pet-list-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.pet-list {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.pet-card {
  width: 120px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
}

.pet-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.pet-card-title {
  font-size: 14px;
  color: #333;
  margin-top: 0.5rem;
}

.add-pet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: 1px dashed #d9d9d9;
  color: #999;
  background-color: #f5f5f5;
  cursor: pointer;
}

.add-pet-card:hover {
  border-color: #1890ff;
  color: #1890ff;
}